$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// COLOURS: 
$backgroundColor: #ffffff;
$bodyColor: #212529;

$gray: #7b7f84;

$fnrsBlue: #39B4B6;
$fnrsGreen: #3DE693;

$dateAlignment: -120px;

// GENERAL

body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
}

body a {
    text-decoration: none;
    color: $bodyColor !important;
    background:
        linear-gradient(to right,
            $bodyColor, $bodyColor),
        linear-gradient(to right,
            $fnrsBlue,
            $fnrsGreen);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

body a:hover {
    background-size: 0 2px, 100% 2px;
}

.no-link-styling a {
    text-decoration: none;
    color: $bodyColor !important;
    background: none;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    body a {
        transition-duration: 0ms;
    }
}

// Make text colored in gradient when hover styling 
.text-styling a {
    text-decoration: none;
    color: $bodyColor !important;
    background-image:
        linear-gradient(to right, $bodyColor, $bodyColor),
        linear-gradient(to right, $fnrsBlue, $fnrsGreen);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%, 0% 100%;
    background-position: 100% 100%, 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    .text-styling a {
        transition-duration: 0ms;
    }
}

.text-styling a:hover {
    background-size: 0% 100%, 100% 100%;
}

.profile-picture {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

// Social Media Icons
.social-media-icons a {
    text-decoration: none;
    color: $bodyColor !important;
    background: none;
}

// RESEARCH PAGE

/* Timeline Styling. */
// The right-hand side of the timeline 
.timeline {
    border-left: 2.4px solid $bodyColor; // the horizontal line
    margin-left: 70px; // how far the timeline is moved from the left
    margin-bottom: 70px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 20px 50px 20px 50px;
    list-style: none;
    text-align: left;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

// The text of each event 
.timeline .event {
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

// The last paper on the timeline
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

// The years. 
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

// The years. 
.timeline .event:before {
    left: $dateAlignment;
    content: attr(data-date);
    text-align: right;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

/* The dots.  */
.timeline .event:after {
    -webkit-box-shadow: 0 0 0 2.4px $bodyColor;
    box-shadow: 0 0 0 2.4px $bodyColor;
    left: -55.8px;
    background: $backgroundColor;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.research-authors {
    color: $gray;
}

// Icons when hovering over the title of the paper

.hidden-hover .hidden-icon {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s linear, opacity 0.4s linear;
    padding-left: 10px;
    padding-top: 6px;
    color: $fnrsBlue;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    .hidden-hover .hidden-icon {
        visibility: visible;
        opacity: 1;
    }
}

.hidden-hover:hover .hidden-icon {
    visibility: visible;
    opacity: 1;
}

.hidden-icon {
    cursor: pointer;
}

// Tooltip 
.fa-quote-right:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.hidden-icon:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext {
    position: absolute;
    top: -30px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #39b4b671;
    color: $backgroundColor;
    font-family: $bodyFont;
    border-radius: 6px;
    transition: visibility 0.4s, opacity 0.4s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 4px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #39b4b671 transparent transparent transparent;
}

#paper_tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 29px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #39b4b671 transparent transparent transparent;
}