---
layout: default
---

<div class="row g-5 mb-5">
    <h3 class="fw-bold border-bottom pb-3">{{ site.data.settings.homepage.title }}</h3>
    <div class="col-md-8 mt-3">
        <p>
            {{ site.data.settings.homepage.introduction | markdownify }}
        </p>
        <div class="d-flex justify-content-center no-link-styling">
            <a href="{{ site.github.url }}/assets/img/CV.pdf" download="Favaro_Pietro_CV">
                <button type="button" class="cbutton-full mx-5">More on PSMR</button>
            </a>
            <a href="{{ site.github.url }}/assets/img/CV.pdf" download="Favaro_Pietro_CV">
                <button type="button" class="cbutton-outline mx-5">Contact Me</button>
            </a>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-top">
        <div class="profile-picture-background">
            <img src="{{ site.github.url }}{{ site.data.settings.homepage.profile_picture }}" class="profile-picture" alt="The profile picture">
        </div>
    </div>
</div>

<div class="row g-5 mb-5">
    <div class="col-md-12">
        <h3 class="fw-bold border-bottom pb-3 mb-5">News</h3>
        {% for post in site.posts %}
        <p class="link-styling">
            <a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}
        </p>
        {% endfor %}
    </div>
</div>