---
layout: default
---

<div class="row">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Papers</h3>
    <div id="content">

      <ul class="timeline link-styling">

        {% for item in site.data.research.papers %}

        <li class="event hidden-hover" data-date="{{ item.year }}">
          <p class="mt-1 mb-1">
            <a href="{{ site.github.url }}{{ item.blog_url }}">{{ item.name }}</a> 
            {%- comment -%} To copy a citation {%- endcomment -%}
            {% if item.citation %}
              <i onclick="copyCitation({{ item.citation }}, {{ forloop.index }})" class="hidden-icon float-end fa fa-quote-right">
                <span class="fw-normal fs-6 p-1 tooltiptext" id="citation_tooltip_{{ forloop.index }}">
                  Copy Citation (IEEE)
                </span>
              </i>
              {%- comment -%} To link to the paper next to the citation {%- endcomment -%}
              <a href="{{ item.paper_url }}" target="_blank">
                <i onclick="readMore({{ forloop.index }})" class="hidden-icon float-end fas fa-external-link">
                  <span class="fw-normal fs-6 p-1 tooltiptext" id="paper_tooltip">Read Paper</span>
                </i>
              </a>
              {%- comment -%} To link to the paper without a citation {%- endcomment -%}
            {% else %}
              <a href="{{ item.paper_url }}" target="_blank">
                <i onclick="readMore({{ forloop.index }})" class="hidden-icon float-end fas fa-external-link" aria-hidden="true">
                  <span class="fw-normal fs-6 p-1 tooltiptext" id="citation_tooltip_{{ forloop.index }}">Read More</span>
                </i>
              </a>
            {% endif %}
          </p>
          <p class="mt-1 mb-1 research-authors">{{ item.authors }}</p>
          <p><i>{{ item.publisher }}</i>, {{ item.location }}</p>
        </li>

        {% endfor %}

      </ul>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Awards</h3>

    {%- comment -%} Awards Timeline {%- endcomment -%}
    <div id="content">

      <ul class="timeline link-styling">

        {% for item in site.data.research.awards %}

        <li class="event hidden-hover" data-date="{{ item.year }}">
          <a href="{{ site.github.url }}/{{ item.blog_url }}">{{ item.name }}</a>
          <a href="{{ item.url }}" target="_blank">
            <i onclick="readMore({{ forloop.index }})" class="hidden-icon float-end fas fa-external-link">
              <span class="fw-normal fs-6 p-1 tooltiptext" id="citation_tooltip_{{ forloop.index }}">Read More</span>
            </i>
          </a>
          <p>{{ item.description }}</p>
        </li>

        {% endfor %}

      </ul>

    </div>
  </div>
</div>